
<div id="short-"{{post.id}} class="short-item">
    
    <div class="card">
      <h2 class="card-header short-title" data-id="{{post.id}}">{{post.title}}</h2>
      <div class="card-body">
        <h5 class="card-title">{{post.createdAt}}</h5>
          <p class="card-text">
            <span>Rating: {{post.rating}}</span><br/>
            <span>Author: {{User.username}}</span><br/>
          </p>
       {{!--  <p class="card-text">{{post.content}}</p> --}}

        {{#if user}}

			<button class="fav_toggle" data-id="{{post.id}}" data-fav="{{post.fav}}">
		 	{{#if post.fav}}
                    <i class="fas fa-heart pink"></i>
            {{else}}
                    <i class="far fa-heart pink"></i>
                {{/if}}
			</button>
          
			{{#if post.rated}}
				{{#if post.rated_val}}
                    <i class="fas fa-thumbs-up green"></i>
                {{else}}
                     <i class="fas fa-thumbs-down red"></i>
                {{/if}}
			{{else}}
				<button class="vote up" data-id="{{post.id}}" data-vote="up">
                        <i class="fas fa-thumbs-up green"></i>
                </button>
				<button class="vote down" data-id="{{post.id}}" data-vote="down">
                        <i class="fas fa-thumbs-down red"></i>
                    </button>
			{{/if}}    
		{{/if}}

		{{#if user.owner}}
			{{#if post.published}}
				<p class="published_post">Published &nbsp;</p>
				<button class="publish_toggle" data-id="{{post.id}}" data-pub="{{post.published}}">
					Unpublish
				</button>
			{{else}}
				<p class="unpublished_post">Unpublished &nbsp;</p>
				<button class="publish_toggle" data-id="{{post.id}}" data-pub="{{post.published}}">
					Publish
				</button>
			{{/if}}
		{{/if}}

	  </div>
    </div>

</div>
<hr/>