<div id="short-"{{post.id}}>
	<h3>{{post.title}}</h3>
	<div class="short-text">
		<p>{{post.content}}</p>
	</div>
	<span>Rating: {{post.rating}}</span><br/>
	<span>Author: {{User.username}}</span><br/>
	<span>Created: {{post.createdAt}}</span><br/>
 	{{#if user}}
		<button class="fav_toggle" data-id="{{post.id}}" data-fav="{{post.fav}}">
	 	{{#if post.fav}}Delete from favorites{{else}}Add to favorites!{{/if}}
		</button>
		{{#unless post.rated}}
			<button class="vote_up" data-id="{{post.id}}">Up</button>
			<button class="vote_down" data-id="{{post.id}}">Down</button>
		{{/unless}}
	{{/if}}
</div>
<hr/>