<div id="short-"{{post.id}}>
	<h3>{{post.title}}</h3>
	<div class="short-text">
		<p>{{post.content}}</p>
	</div>
	<span>Rating: {{post.rating}}</span><br/>
	<span>Author: {{User.username}}</span><br/>
	<span>Created: {{post.createdAt}}</span><br/>
 	{{#if user}}
		<button class="fav_toggle" data-id="{{post.id}}" data-fav="{{post.fav}}">
	 	{{#if post.fav}}Delete from favorites{{else}}Add to favorites!{{/if}}
		</button>
		{{#if post.rated}}
			<p> You rated this post: {{post.rated}}</p>
		{{else}}
			<button class="vote up" data-id="{{post.id}}" data-vote="up">Up</button>
			<button class="vote down" data-id="{{post.id}}" data-vote="down">Down</button>
		{{/if}}

	{{/if}}
	{{#if user.owner}}
		{{#if post.published}}
			<p class="published_post">Published &nbsp;</p>
			<button class="publish_toggle" data-id="{{post.id}}" data-pub="{{post.published}}">
				Unpublish
			</button>
		{{else}}
			<p class="unpublished_post">Unpublished &nbsp;</p>
			<button class="publish_toggle" data-id="{{post.id}}" data-pub="{{post.published}}">
				Publish
			</button>
		{{/if}}
	{{/if}}
</div>
<hr/>